ion-item {
    --min-height: 24px;
}

.fixedLabel {
    min-width: 40px;
}

.right {
    text-align: right;
}

.svg {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.unit {
    width: 20px;
}